html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #f3f3f4;
}

html, body, button {
    font: 14px Helvetica, "Open Sans", sans-serif;
}

header {
    background: #000;
    color: #fff;
    height: 4.9rem;
    position: relative;
    z-index: 2;
}

header #install {
    display: none;
    float: right;
    margin: 0;
    padding: 0rem 0.5rem 0rem 0.5rem;
    height: 100%;
}

header #install button {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    background: -moz-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6a7b86),color-stop(100%,#424f5a));
    background: -webkit-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -o-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -ms-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    padding: 0.3rem;
    border: none;
    margin: 1.4rem 1rem 0;
}

header #install button:active {
    background: #008000;
}

header.show-install #install {
    display: inline-block;
}

header h1 {
    font: normal 1.8rem/4.6rem "Open Sans", sans-serif;
    height: 100%;
    margin: 0 0 0 2rem;
    padding: 0 0 0 0.1rem;
}

header.show-install h1 {
    display: inline-block;
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main {
    padding: 2rem 1rem 6rem 1rem;
}

#main img {
    max-width: 100%;
}

#image-presenter {
    display: none;
}

#main button {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    margin: 0 auto 2rem;
    padding: 1rem;
    color: #fff;
    font-weight: bold;
    background: rgb(76,76,76);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
}

footer {
    background: -moz-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6a7b86),color-stop(100%,#424f5a));
    background: -webkit-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -o-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -ms-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    color: #fff;
    position: fixed;
    width: 100%;
    height: 5rem;
    bottom: 0;
}

footer ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:100%;
}

footer li {
    float: left;
    border-right: 1px solid #445;
    width: 49%;
    height: 100%;
    list-style: none;
    margin: 0;
    text-align: center;
}

footer li button {
    display: inline-block;
    background: transparent;
    border: none;
    height: 100%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

footer li.activated {
    background: #b4beca;
    background: -moz-linear-gradient(top,#b4beca 0%,#e1e5eB 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#b4beca),color-stop(100%,#e1e5eB));
    background: -webkit-linear-gradient(top,#b4beca 0%,#e1e5eB 100%);
    background: -o-linear-gradient(top,#b4beca 0%,#e1e5eB 100%);
    background: -ms-linear-gradient(top,#b4beca 0%,#e1e5eB 100%);
    background: linear-gradient(top,#b4beca 0%,#e1e5eB 100%);
}

footer li:active {
    background: #008000;
}

footer li:last-child {
    border:none;
}