html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #f3f3f4;
}

html, body, button {
    font: 14px Helvetica, "Open Sans", sans-serif;
}

#install {
    display: none;
}

#install.show-install {
    display: inline-block;
}

header.show-install h1 {
    display: inline-block;
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#online-status {
    position: absolute;
    left: 10px;
    top: 2rem;
    width: 10px;
    height: 10px;
    color: #fff;
    background: #008000;
    border-radius: 5px;
}

#online-status.offline {
    background: #ff0000;
}

#main {
    padding: 2rem 1rem 6rem 1rem;
}

#main h2 {
    margin: 0 0 1rem;
}

#main img {
    max-width: 100%;
}

#image-presenter,
#connection-display,
#battery-display {
    display: none;
    margin-bottom: 10px;
}

#main button {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    margin: 0 auto 2rem;
}

#image-to-share {
    display: none;
}

footer {
    position: fixed;
    width: 100%;
    height: 5rem;
    bottom: 0;
}

[role="toolbar"] li button.update {
    background-image: url("../images/toolbars/icons/update.png");
}