@font-face {
    font-family: 'mozTT';
    src: url('../fonts/moztt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mozTT';
    src: url('../fonts/moztt_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'mozTT';
    src: url('../fonts/moztt_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: normal 10px "mozTT", sans-serif;
  background: #fff;
}

body {
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

#install {
    display: none;
}

#install.show-install {
    display: inline-block;
}

header.show-install h1 {
    display: inline-block;
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#online-status {
    position: absolute;
    left: 10px;
    top: 2rem;
    width: 10px;
    height: 10px;
    color: #fff;
    background: #008000;
    border-radius: 5px;
}

#online-status.offline {
    background: #ff0000;
}

#main {
    padding: 1rem 1rem 6rem 1rem;
}

#main h2 {
    margin: 0 0 1rem;
}

#main img {
    max-width: 100%;
}

#image-presenter,
#connection-display,
#geolocation-display,
#battery-display,
#ambient-light-display,
#proximity-display,
#user-proximity-display,
#device-orientation-display {
    display: none;
    margin-bottom: 10px;
}

#main button {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin: 0 auto 2rem;
}

#image-to-share {
    display: none;
}

footer {
    position: fixed;
    width: 100%;
    height: 5rem;
    bottom: 0;
}

[role="toolbar"] li button.update {
    background-image: url("../images/toolbars/icons/update.png");
}